<template>
  <div class="home">
    <span style="font-size: 24px; font-weight: bold">Post list</span>
    <table>
      <thead>
        <tr style="height: 48px">
          <th>Id</th>
          <th>Title</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="post in posts" :key="post.id" style="height: 28px; vertical-align: top">
          <td style="min-width: 42px; vertical-align: top">{{ post.id }}</td>
          <td>
            <router-link :to="`posts/${post.id}`">{{ post.title }}</router-link>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Home',
  data: () => ({
    posts: []
  }),
  async created () {
    await this.getPosts()
  },
  methods: {
    async getPosts () {
      try {
        const response = await axios.get('https://jsonplaceholder.typicode.com/posts')

        if (response && response.data) {
          this.posts = response.data
        } else {
          alert('Cannot get data')
        }
      } catch (error) {
        console.error(error)
        alert('Error getting data')
      }
    }
  }
}
</script>

<style scoped>
a {
  color: #1867c0;
}
a:hover {
  color: #2196f3;
}
</style>
