<template>
  <div>
    <router-link to="/">Posts</router-link>
    <h2>{{ post.title }}</h2>
    <p>{{ post.body }}</p>
    <span v-if="comments.length > 0" style="font-weight: bold">Comments</span>
    <div v-for="comment in comments" :key="comment.id" class="comment">
      <div style="margin-bottom: 8px; font-size: 14px">
        <span style="color: #999">{{ comment.date }}</span>
        <div v-if="editCommentId !== comment.id" style="float: right">
          <span class="edit-comment" @click="editCommentId = comment.id">Edit</span>
          <span
            class="edit-comment"
            style="margin-left: 10px; color: #ff0000"
            @click="deleteComment(comment.id)"
          >Delete</span>
        </div>
      </div>
      <template v-if="editCommentId !== comment.id">{{ comment.text }}</template>
      <comment-input v-else :comment="comment" action="edit" @hide-input="hideCommentInput()"></comment-input>
    </div>
    <h4 style="margin-top: 32px">Leave a comment</h4>
    <comment-input action="add"></comment-input>
  </div>
</template>

<script>
import axios from 'axios'
import CommentInput from '@/components/CommentInput.vue'

export default {
  name: 'Post',
  components: { CommentInput },
  data: () => ({
    post: {},
    editCommentId: null
  }),
  computed: {
    comments () {
      return this.$store.getters.getComments(this.$route.params.postId)
    }
  },
  async created () {
    await this.getPost(this.$route.params.postId)
  },
  methods: {
    async getPost (id) {
      try {
        const response = await axios.get(`https://jsonplaceholder.typicode.com/posts/${id}`)

        if (response && response.data) {
          this.post = response.data
        } else {
          alert('Cannot get data')
        }
      } catch (error) {
        console.error(error)
        alert('Error getting data')
      }
    },
    deleteComment (commentId) {
      this.$store.commit('deleteComment', { postId: this.$route.params.postId, commentId })
    },
    hideCommentInput () {
      this.editCommentId = null
    }
  }
}
</script>

<style scoped>
.comment {
  padding: 12px 0;
}
.edit-comment {
  color: #1867c0;
  cursor: pointer;
}
.edit-comment:hover {
  text-decoration: underline;
}
a {
  color: #1867c0;
}
</style>
