<template>
  <div>
    <textarea
      v-model="commentText"
      class="comment-input"
      name="comment"
      placeholder="Your comment..."
    ></textarea>
    <div style="text-align: right; margin-top: 5px;">
      <div :style="{float: 'left', color: commentText.length > 500 ? '#ff0000' : '#999'}">
        {{ getCommentLength }}/500
        <div
          v-if="errorText.length > 0"
          style="display: inline; color: #ff0000; margin-left: 16px"
        >{{ errorText }}</div>
      </div>
      <button
        type="button"
        class="btn-green"
        @click="setComment()"
      >{{ action === 'edit' ? 'Save' : 'Comment' }}</button>
      <button
        v-if="action === 'edit'"
        type="button"
        class="btn"
        style="margin-left: 12px"
        @click="$emit('hide-input'); commentText = ''"
      >Cancel</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CommentInput',
  props: {
    action: {
      type: String,
      default: ''
    },
    comment: {
      type: Object,
      default: () => null
    }
  },
  data: () => ({
    commentText: '',
    errorText: ''
  }),
  computed: {
    getCommentLength () {
      return 500 - this.commentText.length >= 0 ? 500 - this.commentText.length : 0
    }
  },
  created () {
    if (this.comment) {
      this.commentText = this.comment.text
    }
  },
  methods: {
    setComment () {
      if (this.commentText.length === 0 || !this.commentText) {
        this.errorText = 'Comment length should be more than 0'
      } else if (this.commentText.length > 500) {
        this.errorText = 'Max comment length exceeded'
      } else {
        this.errorText = ''
        switch (this.action) {
          case 'add':
            this.$store.commit('addComment', { postId: this.$route.params.postId, commentText: this.commentText })
            this.commentText = ''
            break
          case 'edit':
            if (this.comment) {
              this.$store.commit('editComment', {
                postId: this.$route.params.postId,
                commentId: this.comment.id,
                commentText: this.commentText
              })
              this.commentText = ''
              this.$emit('hide-input')
            }
            break
          default:
        }
      }
    }
  }
}
</script>

<style scoped>
.comment-input {
  font-size: 16px;
  padding: 8px;
  width: 100%;
  height: 120px;
  resize: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  border-color: #999;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}
</style>
