<template>
  <div id="app">
    <div class="card">
      <router-view/>
    </div>
  </div>
</template>

<style>
body {
  background-color: #f8f8f8;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.card {
  width: 600px;
  background-color: #fff;
  margin: auto;
  text-align: left;
  margin-top: 24px;
  padding: 24px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
button {
  display: inline-block;
  border-radius: 2px;
  border: 0px;
  height: 36px;
  font-size: 14px;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), color 1ms;
  user-select: none;
  cursor: pointer;
  outline: 0;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  padding: 0 16px;
}
.btn-green {
  background-color: #4caf50;
  color: #fff;
}
.btn-green:active {
  background-color: #367e38;
}
.btn:active {
  background-color: #a8a8a8;
}
</style>
